.reportTable {
    font-family: arial;
    border-collapse: separate;
    border-spacing: 0px;
}

.reportTable tbody tr:nth-child(even) {
    background-color: rgb(235, 232, 245);
}

thead tr:nth-of-type(1) th:nth-child(1) {
    font-size: 18px !important;
    direction:ltr;
    white-space: nowrap;
    max-width: 30px;
    z-index:2;
}

thead tr th {
    color: #451774ff;
}

thead tr:nth-of-type(1) th {
    background-color: #ffffff;
    color: #451774ff;
    position: sticky;
    top: 3px;
}

thead tr:nth-of-type(2) th {
    border-bottom: 1px solid #451774ff;
    background-color: #ffffff;
    color: #451774ff;
    position: sticky;
    top: 28px;
}

.rowCell {
    vertical-align: middle;
    padding: 3px;
}

.negative {
    color: red;
}
