.reportTable {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0px;
}

.reportTable tbody tr:nth-child(even) {
    background-color: rgb(235, 232, 245);
}

thead tr th {
    color: #451774ff;
}
