#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
  z-index: 2;
}

.tooltipTable {
  font-family: arial, sans-serif;
  border: 0;
  border-collapse: collapse;
  table-layout: auto;
}

.focus {
  font-weight: bold;
}

.hidden {
  display: none;
}

.hover {
  color: #820ad1;
}

tr.hover td.negative {
  color: #820ad1;
}

.reportTable {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0px;
}

thead tr:nth-child(2) th:nth-child(4),
thead tr:nth-child(2) th:nth-child(5)
{
  color: transparent;
}

.reportTable tbody tr:nth-child(even) {
  background-color: rgb(235, 232, 245);
}

thead tr:nth-of-type(1) th {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

thead tr:nth-of-type(2) th {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  position: sticky;
  top: 21px;
}

th.headerCell {
  text-align: center;
  padding: 3px;
}

th.headerCell.merged {
  text-align: center;
}

.rowCell {
  vertical-align: middle;
  padding: 3px;
}

.nonNumeric {
  text-align: left;
}

.numeric {
  text-align: right;
}

.negative {
  color: red;
}

.rowCell.merged {
  background-color: #ffffff;
}

.subtotal {
}

.total {
  border-top: 1px solid #000000;
  font-weight: bold;
}

tbody td.total:not(.subtotal) {
  border-bottom: 1px solid #000000;
}

/* Paddding bottom of Total Assets and Total Liabilities and Equity rows*/

tbody tr:nth-child(25) td,
tbody tr:nth-child(53) td {
  padding-bottom: 30px;
}

/* Bold to Total Assets, Total Liabilities, Total Equity and Total Liabilities and Equity rows*/

tbody tr:nth-child(25),
tbody tr:nth-child(45),
tbody tr:nth-child(52),
tbody tr:nth-child(53) {
  font-weight: bold;
}

/* Padding Financial assets at fair value through profit or loss */

tbody tr:nth-child(3) td:nth-child(1),
tbody tr:nth-child(4) td:nth-child(1),
tbody tr:nth-child(5) td:nth-child(1) {
  padding-left: 25px;
}

/* Padding Financial assets at fair value through other comprehensive income */
tbody tr:nth-child(7) td:nth-child(1) {
  padding-left: 25px;
}

/* Padding Financial assets at amortized cost */

tbody tr:nth-child(9) td:nth-child(1),
tbody tr:nth-child(10) td:nth-child(1),
tbody tr:nth-child(11) td:nth-child(1),
tbody tr:nth-child(12) td:nth-child(1),
tbody tr:nth-child(13) td:nth-child(1),
tbody tr:nth-child(14) td:nth-child(1),
tbody tr:nth-child(15) td:nth-child(1) {
  padding-left: 25px;
}

/* Padding Financial liabilities at fair value through profit or loss */

tbody tr:nth-child(27) td:nth-child(1),
tbody tr:nth-child(28) td:nth-child(1),
tbody tr:nth-child(29) td:nth-child(1) {
  padding-left: 25px;
}

/* Padding Financial liabilities at amortized cost */

tbody tr:nth-child(31) td:nth-child(1),
tbody tr:nth-child(32) td:nth-child(1),
tbody tr:nth-child(33) td:nth-child(1),
tbody tr:nth-child(34) td:nth-child(1),
tbody tr:nth-child(35) td:nth-child(1) {
  padding-left: 25px;
}
