.hidden {
  display: none;
}

.hover {
  color: #820ad1;
}

tr.hover td.negative {
  color: #820ad1;
}

.reportTable {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0px;
}

thead tr:nth-child(3) th:nth-child(4),
thead tr:nth-child(3) th:nth-child(5)
{
  color: transparent !important;
}

.reportTable tbody tr:nth-child(even) {
  background-color: rgb(235, 232, 245);
}

thead tr:nth-of-type(1) th {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  color: #451774ff;
  font-size: 18px !important;
  position: sticky;
  top: 0;
}

thead tr:nth-of-type(2) th {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  color: #451774ff;
  position: sticky;
  top: 20px;
}

thead tr:nth-of-type(3) th {
  border-bottom: 1px solid #451774ff;
  background-color: #ffffff;
  color: #451774ff;
  position: sticky;
  top: 40px;
}

th.headerCell {
  text-align: center;
  padding: 3px;
}

th.headerCell.merged {
  text-align: center;
}

.rowCell {
  vertical-align: middle;
  padding: 3px;
}

.nonNumeric {
  text-align: left;
}

.numeric {
  text-align: right;
}

.negative {
  color: red;
}

.rowCell.merged {
  background-color: #ffffff;
}

.subtotal {
}

.total {
  border-top: 1px solid #000000;
  font-weight: bold;
}

tbody td.total:not(.subtotal) {
  border-bottom: 1px solid #000000;
}

/* Paddding of Total Revenue, Total cost of financial and transactional services provided, Gross Profit, Total Operating Expenses, Loss/Profit before Income Taxes, Total Income Taxes and Loss/Profit for the period */

tbody tr:nth-child(9) td,
tbody tr:nth-child(15) td,
tbody tr:nth-child(19) td {
  padding-top: 20px;
}

tbody tr:nth-child(15) td {
  padding-bottom: 20px;
}

/* Bold to Total Assets, Total Liabilities, Total Equity and Total Liabilities and Equity rows*/

tbody tr:nth-child(3),
tbody tr:nth-child(7),
tbody tr:nth-child(8),
tbody tr:nth-child(14),
tbody tr:nth-child(15),
tbody tr:nth-child(18),
tbody tr:nth-child(19)
{
  font-weight: bold;
}
