.hidden {
  display: none;
}

.hover {
  color: #820ad1;
}

tr.hover td.negative {
  color: #820ad1;
}

.reportTable {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0px;
}

thead tr:nth-child(3) th:nth-child(4),
thead tr:nth-child(3) th:nth-child(5)
{
  color: transparent !important;
}

.reportTable tbody tr:nth-child(even) {
  background-color: rgb(235, 232, 245);
}

thead tr:nth-of-type(1) th {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  color: #451774ff;
  position: sticky;
  top: 0;
}

thead tr:nth-of-type(2) th {
  border-bottom: 1px solid #451774ff;
  background-color: #ffffff;
  color: #451774ff;
  position: sticky;
  top: 28px;
}

thead tr:nth-of-type(3) th {
  border-bottom: 1px solid #451774ff;
  background-color: #ffffff;
  color: #451774ff;
  position: sticky;
  top: 40px;
}

th.headerCell {
  text-align: center;
  padding: 3px;
}

th.headerCell.merged {
  text-align: center;
}

.rowCell {
  vertical-align: middle;
  padding: 3px;
}

.nonNumeric {
  text-align: left;
}

.numeric {
  text-align: right;
}

.negative {
  color: red;
}

.rowCell.merged {
  background-color: #ffffff;
}

tbody td.total.subtotal {
  font-weight: bold;
  border-top: 1px solid #000000;
}

tbody tr:nth-child(1) td,
tbody tr:nth-child(even):has(.subtotal) + tr:nth-child(odd) td {
  padding-top: 20px;
}

tbody tr:nth-child(odd):has(.subtotal) td {
  padding-bottom: 20px;
}

thead tr:nth-of-type(1) th:nth-child(1) {
  font-size: 18px !important;
  max-width: 100px;
  white-space: nowrap;
  z-index:2;
}

.total {
  font-weight: bold;
  background-color: #ffffff !important;
}

tbody tr:nth-of-type(2) td:nth-child(1) {
  padding-left: 20px;
}

/* 
tbody tr:nth-of-type(10) td,
tbody tr:nth-of-type(16) td,
tbody tr:nth-of-type(20) td,
tbody tr:nth-of-type(24) td,
tbody tr:nth-of-type(28) td {
  font-weight: bold;
}

tbody tr:nth-of-type(11) td,
tbody tr:nth-of-type(17) td,
tbody tr:nth-of-type(21) td,
tbody tr:nth-of-type(25) td {
  padding-top: 20px;
} */
